html,body {
  font-family: cursive;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

h1 {
  font-size: 55px;
  text-align: center;
  color: #ffcc66;
  text-shadow: 1px 1px 0 red;
  margin: 0px;
}

.container-minion .minion {
  width: 300px;
  vertical-align: top;
  margin-top: -60px;
  animation-name: minion;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@keyframes minion {
  0%{
      transform: scale(0.5);
  }
  100% {
      transform: scale(0.7);
      opacity: 0.2;
  }
}

.click-img {
  height: 60px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 150px;
}

.container-click {
  display: flex;
}